{{!< default}}

{{#contentFor 'header-links'}}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic,700,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{asset "css/bundle/post.css"}}" />
<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
{{/contentFor}}


{{#contentFor 'footer-links'}}
<script type="text/javascript" src="{{asset "js/bundle/post.js"}}"></script>
{{/contentFor}}


{{> post-nav }}

{{#post}}
    <header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
        <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        </nav>
    </header>

    <main class="content" role="main" style="padding-top: 80px;">
        <article class="{{post_class}}">

            <header class="post-header">
                <h1 class="post-title">{{title}}</h1>
                <section class="post-meta">
                    <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD / MM / YYYY"}}</time> {{tags prefix="в "}}
                </section>
            </header>

            <section class="post-content">
                {{content}}
            </section>
        </article>
    </main>
{{/post}}
